/* line 8, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/charges.scss */
.pay_pay .stripe-button {
  display: none;
}
/* line 6, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/comments.scss */
.approvedcomments {
  margin: 80px;
}

/* line 10, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/comments.scss */
#firstcomment {
  font-size: 140%;
}

/* line 14, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/comments.scss */
#containerforname {
  margin: 6px;
}

/* line 18, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/comments.scss */
.chatbox {
  border: solid 2px;
  width: 500px;
  min-width: 390px;
  height: 371px;
  background: #fff;
  padding: 25px;
  margin: 10px auto;
  border-radius: 8px;
}

/* line 29, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/comments.scss */
#comment_button {
  float: right;
  margin-bottom: 30px;
}

/* line 34, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/comments.scss */
.chatlogs {
  width: 90%;
  height: 160px;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 42, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/comments.scss */
.chat {
  margin-bottom: 10px;
}

/* line 49, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/comments.scss */
.chat-message-name {
  width: 60px;
  border-radius: 30%;
  font-size: 120%;
}

/* line 55, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/comments.scss */
#textname span {
  text-decoration: underline;
}

/* line 59, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/comments.scss */
.chat .chat-message span {
  text-decoration: underline;
}

/* line 64, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/comments.scss */
.chat .chat-message {
  width: 70%;
  padding: 5px;
  border-radius: 8px;
  font-size: 14px;
}
/* line 5, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/orders.scss */
[v-cloak] {
  display: none;
}
/* line 6, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/products.scss */
#product-spacing {
  margin-bottom: 2rem !important;
}
/* line 5, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/sessions.scss */
.custom-navbar-header {
  font-size: 1.4em;
}

/* line 9, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/sessions.scss */
.custom-navbar-text {
  font-size: 1.2em;
}
/* line 4, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/users.scss */
.centered {
  position: absolute;
  /* or absolute */
  top: 30%;
  left: 20%;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

/* line 11, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/users.scss */
#about_me {
  float: left;
  font-size: 140%;
  width: 700px;
}

/* line 17, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/users.scss */
#pic_of_food_one {
  margin-left: 450px;
  text-align: center;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* line 28, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/users.scss */
#pic_of_food_two {
  text-align: center;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* line 36, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/users.scss */
#pic_of_food_three {
  text-align: center;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* line 44, /Users/Zach/Projects/food-by-lags/app/assets/stylesheets/users.scss */
.small-card {
  padding: 1rem;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */




#pic_of_you {
	padding:80px;
	float: left;
}

#about_me {
	padding:20px;
	float: right;
}

#pic_of_food_one {
	text-align: center;
	margin: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#pic_of_food_two {
	text-align: center;
	margin: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#pic_of_food_three {
	text-align: center;
	margin: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#logolocation {
	text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#checkout-button {
cursor: pointer;

}

#cuttingboard {
	text-align: center;
	margin: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
	margin-left: 393px;

}

#editproductform h3 {
	color: red;
}

#cookbook {
	float:left;
	margin: 150px;

}

#checkoutform {
	text-align: right;
}


.addtocartform h4 {
    margin: 15px;
    width: 785px;
    font-size: 150%;
    text-align: left;
    font-family: sans;
}

.addtocartform h2 {
	margin: 50px;
	font-family: sans;
}

.addtocartform h4 span {
	text-decoration: underline;
	font-weight: bold;
}

#add-to-cart {
	border: solid;
	border-radius: 17%;
	float: right;
    margin-top: 21%;
    margin-right: 12%;
    cursor: pointer;
    font-size: 24px;
}


.addtocartform {
	padding-top: 250px;
	padding-left: 200px;
	margin: 50px;
}

/*.addtocartform img {
	margin-left:20%;
}
*/
.add {
	width: 300px;
	margin: 50px;
}

#nameform {
	text-align: left;
}

.longinput {
	width: 500px;
	height: 200px;
}

#checkout {
	bottom: 0;
	float: right;
	text-align: left;
    margin-right: 43px;
}

#kabobs {
	text-align: center;
	margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.floating-menu {
z-index: 6;
position: fixed;
top: 60px;
right:356px;
overflow-x: auto;
overflow-y: scroll;

}

#checkout-group {
/*overflow-x: hidden;*/
overflow-x: auto;
overflow-y: scroll;
}

#commentsubmitbutton {
	margin: 15px;
	text-align: right;
}

#commentbox {
	text-align: center;
	margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#emailquestions {
	text-align: center;
	margin: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#logout_buttons {
	bottom: 0;
	float: right;
	position: fixed;
}

#adminsignin {
	bottom: 0;
	position: fixed;
}

.small-font span {
	font-size: 80%;
}
