<div id="logolocation">
	<h4> Logo </h4>
</div>

<div class="container">
	<h2 id="pic_of_family"><img src="/assets/images/familyphoto.jpg" alt="famphoto">
</div>
<div class="container">
	<h2 id="about_me"> <%= about_me %> <%= about_me_two %> </h2>
</div>

<div class="container">
	d<img id="pic_of_food_one" src="http://i.imgur.com/glD0sHS.jpg" alt="turkeybowls.jpg">
</div>
<div class="container">
	<img id="pic_of_food_two" src="http://i.imgur.com/lpv962e.jpg" alt="spices.jpg">
</div>
<div class="container">
	<img id="pic_of_food_three" src="http://i.imgur.com/glD0sHS.jpg" alt="bigtacobowls.jpg">
</div>
<div id="logout_buttons">
	<% if current_user %>
		<% if current_user.admin %>
			<%= button_to "Logout", "/signout", method: :get %>

	
		<% end %>	
	<% end %>
</div>
<% if !current_user %>
		<div id="adminsignin">
			<%= button_to "admin signin", "/sessions/admin_signin", method: :get %>

		</div>
<% end %>