<div class="container">
	<h2 id="pic_of_you"> Picture of You </h2>
</div>
<div class="container">
	<h2 id="about_me"> About Me </h2>
</div>

<div class="container">
	<h4 id="pic_of_food_one"> Picture of Food </h4>
</div>
<div class="container">
	<h4 id="pic_of_food_two"> Picture of Food </h4>
</div>
<div class="container">
	<h4 id="pic_of_food_three"> Picture of Food </h4>
</div>
<% if session[:id] %>
	<%= button_to "Logout", "/signout", method: :get %>

<% end %>