<p> Do you approve of this comment? </p>

<%= @text %>
<br>


					<a href= "http://localhost:3000/contacts/approved/<%=@id%>">Yes</a>
					<a href= "http://localhost:3000/contacts">No</a>
					<a href= "http://localhost:3000/contacts/comment_delete/<%=@id%>">Delete</a>
