<p> Do you approve of this comment? </p>
<%= @new_text.name %>:
<%= @new_text_text %>
<br>


					<a href= "http://localhost:3000/contacts/text_approved/<%=@id%>">Yes</a>
					<a href= "http://localhost:3000/contacts">No</a>
					<a href= "http://localhost:3000/contacts/text_delete/<%=@id%>">Delete</a>