/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar .collapse .active a {
    float:none;
    display:inline-block;
    zoom:1;
	/*padding-left:100px;*/
	/*padding-right:100px;*/
    margin: auto 97px;
    background-color: #B9EEF7;
    font-weight: bold;
    font-size: 125%;


}

.navbar .collapse .active>a:hover {
	background: transparent;
}

.navbar {
	background-color: #B9EEF7;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px underline #3c763d;

}

#pic_of_you {
	padding:80px;
	float: left;
}

#about_me {
	padding:20px;
	float: right;
}

#pic_of_food_one {
	text-align: center;
	margin: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#pic_of_food_two {
	text-align: center;
	margin: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#pic_of_food_three {
	text-align: center;
	margin: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#logolocation {
	text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}


#cuttingboard {
	text-align: center;
	margin: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
	margin-left: 393px;

}

#cookbook {
	float:left;
	margin: 150px;

}

#checkoutform {
	text-align: right;
}




#add-to-cart {
	border: solid;
	border-radius: 17%;
	float: right;
    margin-top: 21%;
    margin-right: 23%;
}


.addtocartform {
	padding-top: 250px;
	padding-left: 200px;
	margin: 50px;
}

/*.addtocartform img {
	margin-left:20%;
}
*/
.add {
	width: 300px;
}

#nameform {
	text-align: left;
}

.longinput {
	width: 500px;
	height: 200px;
}

#checkout {
	bottom: 0;
	float: right;
}

#kabobs {
	text-align: center;
	margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.floating-menu {
font-family: sans-serif;
background: lightgreen;
opacity: initial;
padding: 5px;
width: 240px;
z-index: 1000;
position: fixed;
top: 60px;
right: 20px;
border-radius: 2px;
border: 2px solid grey;

}


#commentsubmitbutton {
	margin: 15px;
	text-align: right;
}

#commentbox {
	text-align: center;
	margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#emailquestions {
	text-align: center;
	margin: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#logout_buttons {
	bottom: 0;
	float: right;
	position: fixed;
}

#adminsignin {
	bottom: 0;
	position: fixed;
}