// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add-to-cart {
	border: solid;
	border-radius: 17%;
}


#checkoutform {
	text-align: right;
}