// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.centered {
  position: absolute; /* or absolute */
  top: 30%;
  left: 20%;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

#about_me {
	float: left;
	font-size: 140%;
	width: 700px;
}

#pic_of_food_one {

	margin-left: 450px;

	text-align: center;
	margin: 50px;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

#pic_of_food_two {
	text-align: center;
	margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#pic_of_food_three {
	text-align: center;
	margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.small-card {
	padding: 1rem;
}